@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.movie-card {
    margin-top: 5rem;
    height: 1150px;
    text-align: center;
}

.movie-title {
    text-transform: uppercase;
}

.movie-poster-container img {
    margin-top: 2rem;
    height: 500px;
    border-radius: 5%;
    opacity: 0;
    animation: fade_in 3.5s ease-in-out forwards;
    transition: 1s;
}

@keyframes fade_in {
    100% {opacity: 1;}
}

.movie-poster:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 8px -4px rgb(80, 80, 80);
}

.movie-genres {
    margin-top: 1rem;
    color: #777;
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 0.3rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.movie-info-overview {
    margin: 15px;
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel img {
    width: 100%;
    border-radius: 5px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgba(240, 248, 255, 0.53);
    font-size: 2rem;
    color: white;
    margin: 0.5rem;
}

.movie-info-actions {
    font-size:1.1rem;
    overflow: hidden;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    position: relative;
    top: -1000px;
    animation: slide_from_top 3.5s ease-in-out forwards;
    transition: 0.5s;
}

.movie-info-actions ul li:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 8px -4px #777;
}

@keyframes slide_from_top {
    80% {top: 10px;}
    100% {top: 0;}
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none;
   position: fixed;
   height: 100%;
   width: 100%;
   background-color:  rgba(83, 83, 83, 0.644);
   z-index: 2;
   top: 0;
   left: 0; 
   text-align: center;
}

.modal_content {
    background-color:  rgba(3, 37, 65, 0.986);
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 600px;
    animation: zoom_in 1s;
    border-radius: 5%;
}

@keyframes zoom_in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.close_btn {
    float: right;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.movie_poster_modal {
    width: 300px;
    border-radius: 5%;
}

.modal_heading {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 1rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    transition: 0.5s;
}

footer ul li:hover {
    transform: scale(1.1);
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}

.twitter:hover {
    color: rgb(72, 149, 236);
}

.instagram:hover {
    color: rgb(117, 2, 170);
}

.facebook:hover {
    color: rgb(0, 0, 153);
}